body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}


a {
    margin: 5px;
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
}

.sign-in {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
    background-color: #1a73e8;
    text-decoration: none;
    color: #fff;

}

.sign-in:hover {
    background-color: #2b7de9;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;

}

ul > a, ul > img {
    padding: 0 8px:
}

.header-img:hover {
    box-shadow: 0 0 10px gainsboro;
    border-radius: 20px;
    cursor: pointer;

}